@font-face {
    font-family: Roboto-Thin;
    src: url(./fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(./fonts/Roboto/Roboto-Light.ttf);
}


.titulo1{
    font-family: 'Ubuntu', Arial;
    font-size: 2em;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 3px;
    text-decoration: overline wavy purple;
}

.titulo2{
    font-family: "Roboto-Thin";   
}

.titulo3{
    width: 50%;
    font-family: "Roboto-Light";
    text-transform: capitalize;
    text-align: center;
}

.lista{
    list-style: square;
}
